:root{
    --primario:#130F0B;
    --primariolow:#b99f86;
    --secundario:rgb(255, 248, 220);
    --secundarioHigh:#f7f5ec;
    --claro:#ffffff;
    --titulo-pos:0;
    --texto-pos:0;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

html {
    min-height: 100%;
}

body {
    min-height: 100%;
    font: 1.4em/1.8 "Anton", sans-serif;
    background-color: #E5E5E5;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 2.4rem;
}

h2{
    font-size: 1.8rem;
}

h3{
    font-size: 1.5rem;
}

.header{
    background-image: url('../img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.header .contenedor{
    color: rgb(255, 248, 220);
    margin: 2rem;
}

.header .contenedor h1{
    transform: translateY(var(--titulo-pos));
}

.header .contenedor p{
    transform: translateY(var(--texto-pos));
}

.nav{
    background-color: var(--primario);
    margin-bottom: 2rem;
}

.nav .contenedor{
    display: flex;
    justify-content: space-around;
}

.nav a{
    text-decoration: none;
    color: var(--claro);
    font-size: 1.3rem;
    padding: 1rem 0;
}

.descripcion .contenedor{
    padding: 4rem 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30% 1fr;
}

.descripcion .contenedor{
    text-align: center;
    margin: 2rem 0;
}

.descripcion .contenedor img{
    min-width: 100%;
    min-height: 100%;
}

.descripcion_contenido{
    background-color:var(--claro);
    border-radius: 0 0 5px 5px;
    padding: 1rem;
}

.descripcion_contenido h2{
    margin:1.5rem 0;
}

/* Escritorio */
@media screen and (min-width:1100px){

    .descripcion .contenedor{
        padding: 4rem 3rem;
        display: grid;
        grid-template-columns: 30% 2fr;
    }
    
    .descripcion_contenido{
        padding: 2rem;
        background-color: var(--claro);
        border-radius: 5px;
    }
}


.proyectos{
    display: grid;
}

.proyectos .titulo{
    text-align: center;
    margin-bottom: 1rem;
}

.contenedor_cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    padding: 2rem 1rem;
    grid-gap: 1.2rem;
}

.card{
    margin-bottom: 1rem;
    display: grid;
    border-radius: 5px;
    background-color: var(--claro);
    color: var(--primario);
    box-shadow: 1px 2px 5px black;
}

.card img{
    display: block;
    border-radius: 5px 5px 0 0;
    padding: 1rem 1rem;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.contenid_card{
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-between;
}

.contenid_card h3{
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;
}

.contenid_card a{
    display: grid;
    text-decoration: none;
    color: var(--secundarioHigh);
    background-color: var(--primario);
    padding: 0.5rem;
    margin-top: 0.8rem;
    font-weight: bold;
    border-radius: 5px;
}

.contenid_card p{
    padding: 1rem 0 0;
}

.boton{
    display: flex;
    justify-content: space-evenly;
    font-size: 1.2rem;
}

.footer{
    height: 25%;
    min-width: 100%;
    background-image: url('../img/contacto.jpg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.footer .contenedor{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    padding: 3rem 2rem;
    grid-gap: 2rem;
}

.contenedor div h3{
    margin-bottom: 1rem;
}

.contenedor div a{
    margin-right: 1rem;
}

.formulario{
    display: flex;
    flex-direction: column;
}

.formulario input{
    margin-bottom: 10px;
}

.input{
    height: 30px;
    padding: 1rem;
}

.mensaje{
    margin-top: 10px;
    width: 100%;
    text-align: center;
}


textarea{
    min-height: 100px;
    margin-bottom: 10px;
    padding: 0.5rem;
}

@media screen and (min-width:1100px){
    input{
        width: 80%;
        padding: 1rem;
    }


    textarea{
        min-height: 100px;
        width: 37vw;
        margin-bottom: 10px;
    }

    .mensaje{
        width: 80%;
    }
}
